<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<!--Add a nav bar here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:add_review' dealer %}">Add review</a>
            </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <div class="my-2 my-lg-0">
            <div class="d-flex">
                <span class="mr-2">{{user.username}}</span>
                <div class="dropdown-content">
                    <a href="{% url 'djangoapp:logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:login' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" name="username" placeholder="Name" aria-label="Name"
                   required>
            <input class="form-control mr-sm-2" type="password" name="psw" placeholder="Password" aria-label="Password"
                   required>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
            <a class="btn btn-outline-success my-2 my-sm-0 ml-2" href="{% url 'djangoapp:registration' %}">Sign Up</a>
        </form>
        {% endif %}
    </div>
</nav>

<!-- Add reviews as cards -->
<div class="container mx-auto my-5 ">

    <h1>Reviews for dealer #{{ dealer }}</h1>
    <div class="card-columns">
        {% for review in dealer_reviews %}
        <div class="card">
            <img class="card-img-left m-2" width="30" height="30" src="{{MEDIA_URL}}/emoji/{{ review.sentiment }}.png">

            <div class="card-body">
                <h3 class="card-title">
                    {{ review.car_model }}, {{ review.car_make }}
                </h3>
                <h3 class="card-title">
                    {{ review.car_year }}
                </h3>
                <div class="card-text">
                    {{ review.review }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>

</html>